<div style="margin:0;background:#f7fdfd">
    <div class="adM">
    </div>
    <table width="100%"
           style="max-width:600px;background:#fff;margin:0 auto;font-family:'Roboto',sans-serif,'Battambang','Khmer OS'">
        <tbody>
        <tr>
            <td style="padding:6%">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td width="48%">
                            <table width="100%">
                                <tbody>
                                <tr>
                                    <td><img height="60" style="height:100px"
                                             src="https://i.ibb.co/64w6FGF/haystome-vector-Copy.png" class="CToWUd">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40" style="padding:50px 0 20px 0;color:#006400;font-size:26px"><b>Dear
                                        Admin,</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="4%"></td>
                        <td width="48%" valign="top">
                            <table width="100%" style="text-align:right;font-size:14px;margin-top:20px">
                                <tbody>
                                <tr>
                                    <td><b>Experience ID:</b> #{{ booking_id }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding:5px 0 5px 0;font-size:16px">
                            There is a new experience request for <b style="color:#4f9c4f"> {{ artist_name }}</b> at <b
                                style="color:#4f9c4f"> {{ booking_date }} {{ booking_time }}</b>.
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table width="100%">

                    <tbody>
                    <tr>
                        <td width="160" height="50"><b>Your order details:</b></td>
                        <td>
                            <hr width="100%;border: #e3e7e8 1px solid;">
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div></div>

                <p></p>
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td width="49%">
                            <table width="100%" cellspacing="0"
                                   style="border:1px solid #eaeaea;border-radius:10px 10px 0 0;margin-top:5px">
                                <tbody>
                                <tr>
                                    <th style="background-color:#9ebfcf;height:38px;border-radius:10px 10px 0 0"><b>Experience
                                        ID</b>: #{{ booking_id }}</th>
                                </tr>

                                <tr>
                                    <td style="padding-left:13px;font-size:12px"><br>
                                        <h2 style="border-bottom:1px solid #d0d0d0;font-size:16px;width:190px;padding:19px 0">
                                            Experience Information</h2>
                                        <!-- <table style="font-size:13px">
                                            <tbody><tr><td><b>Payment Method:</b></td><td><img src="https://i.ibb.co/hHQjRGx/138255.png" width="37" ></td></tr>
                                        </tbody></table> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:8px 0 3px 13px;font-size:13px"><b>Artist:</b> {{ artist_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:3px 0 3px 13px;font-size:13px"><b>Experience
                                        Skill:</b> {{ exp_skill }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:3px 0 3px 13px;font-size:13px"><b>Service
                                        Type:</b> {{ service_type }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:3px 0 3px 13px;font-size:13px"><b>Total
                                        Guest(s):</b> {{ total_guest }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:3px 0 3px 13px;font-size:13px"><b>Experience
                                        Date:</b> {{ booking_date }} {{ booking_time }}</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:13px;font-size:12px"><br>
                                        <h2 style="border-bottom:1px solid #d0d0d0;font-size:16px;width:190px;padding:19px 0">
                                            Customer Information</h2>
                                        <!-- <table style="font-size:13px">
                                            <tbody><tr><td><b>Payment Method:</b></td><td><img src="https://i.ibb.co/hHQjRGx/138255.png" width="37" ></td></tr>
                                        </tbody></table> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:8px 0 3px 13px;font-size:13px"><b>Email:</b> {{ cus_email }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:3px 0 3px 13px;font-size:13px"><b>Language:</b> {{ cus_lang }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:3px 0 3px 13px;font-size:13px"><b>Payer Name:</b> {{ username }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:3px 0 3px 13px;font-size:13px"><b>Passport
                                        ID:</b> {{ passport_id }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:3px 0 3px 13px;font-size:13px"><b>Passport
                                        Expr:</b> {{ passport_expr }}</td>
                                </tr>
                                <tr>
                                    <td style="padding:3px 0 3px 13px;font-size:13px"><b>Pickup Location:</b> {{ meet_up_location }}</td>
                                </tr>


                                </tbody>
                            </table>
                        </td>
                        <td width="2%">
                        </td>
                        <td width="49%" style="text-align:right">
                            <table style="width:265px;padding-left:30px" border="0">
                                <tbody>
                                <tr>
                                    <td align="right" style="padding:8px 0"><b>Payment:</b></td>
                                    <td align="right" style="padding:8px 0" width="55">Cash</td>
                                </tr>


                                <tr>
                                    <td colspan="2"><p style="width:100%;background:#d0d0d0;height:1px"></p></td>
                                </tr>
                                <tr>
                                    <td align="right" style="padding:8px 0"><b>TOTAL FEE:</b></td>
                                    <td align="right" style="padding:8px 0"><b> {{ total_fee }} USD</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="40" style="padding:0 0 25px 6%;color:#006400;font-size:16px"><b>Thanks,<br>The Haystome Team</b>
            </td>
        </tr>
        <tr>
            <td style="padding:0 6%">
                <table width="100%" style="text-align:left;font-size:14px">
                    <tbody>
                    <tr>
                        <br><br>
                        <td><img src="https://i.ibb.co/V9Fwppq/unnamed.png"></td>
                        <td>If you have questions about this email, <br>Please contact at <a
                                style="color:#4f9c4f"><b></b></a> <a style="color:#4f9c4f"><b>+855 86 800
                            990 </b><br><b>www.facebook.com/haystomekh </b></a></td>
                    </tr>
                    </tbody>
                </table>
                <table width="100%" style="margin-top:32px">
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-top:30px">
                <table border="0" cellpadding="0" cellspacing="0" width="101%" style="margin-top:32px;height:11px">
                    <tbody>
                    <tr>
                        <td height="1px" width="73%" style="border-bottom:solid 11px #4f9c4f"></td>
                        <td height="1px" width="27%" style="border-bottom:solid 11px #006400"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL">

    </div>
</div>