{% extends 'booking/base.html' %}
{% load static %}

{% block head %}
    <title> Thank You For Experiencing With Us - Haystome </title>
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block body %}
	<section class="checkout-page" style="background: linear-gradient(90deg,#0F2027,#203A43,#2C5364);">
		<div class="container" style="text-align:center;">

            <img src="/static/assets/img/logo/haystome-white.svg" style="width:30%;height:10%;margin-bottom:10px;">
			<div class="border-box" style="border:none;background: transparent;color:white;">
				<div class="box-title">
                    <h3 style="color:white;">THANK YOU FOR CHOOSING TO EXPERIENCE WITH US</h3>
				</div>
                <h3>Your booking has completed!</h3>
                <p>Hope you have a very authentic, enjoyable, memorable experience with our Artist. Please check your
                    Email for more information.</p>

                <span STYLE="font-family: 'Francois One','Bayon'; font-size: 700%;">
                អរគុណ
                </span>
				</div>

		</div>
	</section>
{% endblock %}